
:root{
  --light-blue: #7dbaf0;
  --dark-blue: #33628b;
  --cheese: #d07f31;
  --dark-cheese: #724321;
}

.text-dark-blue{
  color: var(--dark-blue);
}

.text-light-blue{
  color: var(--light-blue);
}

.my-btn{
  color: #0a0601;
  background-color: #cc8c51;
  border-radius: 6px;
  text-emphasis: bold; 
}

    body.debug .container,
    body.debug .container-fluid {
      outline: 2px double blue;
      outline-offset: -2px;
    }
    body.debug .row {
      outline: 2px dashed red;
      outline-offset: -2px;
    }
    body.debug [class*="col-"] {
      outline: 2px dotted forestgreen;
      outline-offset: -3px;
    }

    .bg-blue{
      background-color: #050516;
    }
  img{
    width: 500px;
    height: 500px;
  }

  img:hover{
   cursor: url(assets/pick-1.png), auto; 
  }

  .moon{
    background-image: url(assets/cheese-moon.jpg);
  }

  .bg-img{
    background-image: url(assets/dark-sky.jpg);
  }

 footer{
   color: var(--text-light-blue);
 }

 .cheese-dark-text{
   color: var(--dark-cheese);
 }

 .cheese-text{
   color: var(--cheese);
 }